pkgbase = clipcascade-bin
	pkgdesc = ClipCascade: Sync clipboard across multiple devices
	pkgver = 3.0.0
	pkgrel = 4
	url = https://github.com/Sathvik-Rao/ClipCascade
	arch = x86_64
	license = GPL-3.0
	makedepends = unzip
	depends = tk
	depends = python
	depends = python-pillow
	depends = python-plyer
	depends = python-pycryptodome
	depends = python-pystray
	depends = python-requests
	depends = python-websocket-client
	depends = python-xxhash
	depends = python-pyfiglet
	depends = python-beautifulsoup4
	depends = python-aiortc
	depends = python-ifaddr
	depends = python-pywayland
	optdepends = xclip: Xorg X Display Server support
	optdepends = wl-clipboard: Wayland Display Server support
	source = ClipCascade_Linux.zip::https://github.com/tranquil-tr0/ClipCascade/releases/download/1/rel.zip
	source = clipcascade.png::https://raw.githubusercontent.com/Sathvik-Rao/ClipCascade/refs/tags/3.0.0/logo/logo.png
	source = clipcascade.desktop
	sha256sums = 66c02e84c47cdc9eb2686ab551f52bbfb38fbce091e2a54002807612afd2c65f
	sha256sums = 54974fabd99d918ea142163db566a98d3ca1a43b5a0f3d0c7ed7224ecccbd3b9
	sha256sums = 6b90177c1c1ed1e575cb1f553cd2cde4b2b92d32743e32ec046aaf2ed3674594

pkgname = clipcascade-bin
